@import url("https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tiny5&display=swap");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.light-theme{
  --text-color: #1E2139;
  --background-color: #F0FFF0;
}

@media (min-width: 1024px) {
  body {
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
  }

  .main-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
  }



  .invo-heading {
    width: 50vw;
    height: 15vh;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    position: relative;
  }

  .invoice-count-container h2 {
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.5px;
    font-weight: 600;

  }

  body.light-theme .invo-heading h2{
    color: var(--text-color) !important;
  }

  body.light-theme .invo-heading p{
    font-weight: 600;
    color: var(--text-color) !important;
  }
  
  .invoice-count-container p {
    color: #fff;
    font-size: 1rem;
  }

  .filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
  }

  .filter-container:hover{
  }

  .filter-container h5 {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }

  body.light-theme .filter-container h5{
    color: var(--text-color) !important;
  }

  body.light-theme .dropdown-icon{
    filter: invert(0);
    font-weight: 900;
  }

  .status-filter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 30px;
    left: 60%;
  }

  .status-filter{
  position: absolute;
    width: 200px;
    height: 150px;
    background: #1e2139;
    border-radius: 10px;
    z-index: 45;
    margin-top: 20px;
    top: 12%;
    left: 51%;
    padding-top: 20px;
   box-shadow: 5px 5px 5px #9277ff74;
  }

  body.light-theme .status-filter{
    background: #fff;
  }

  .status-filter div{

    width: 90%;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .status-filter div input{
    width: 15px;
    height: 15px;
    display: inline !important;
  }
  .status-filter div label#paid{
    margin-left: 20px;
    color: #219F8D;
    font-weight: 600;
  }

  .status-filter div label#pending{
    margin-left: 20px;
    color: #FF8F00;
    font-weight: 600;
  }

  .status-filter-container :first-child{
    display: flex;
  }

  .dropdown-icon {
    width: 15px;
    font-weight: 700;
    filter: invert(1);
    margin-left: 10px;
  }

 

  .invoice-button {
    font-size: 15px;
    margin-left: 10px;
    background: #9277ff;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-button {
    filter: invert(1);
    width: 30px;
    margin-right: 10px;
  }

  .for-form{
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 55;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
  }

  .for-form.visible{
    transform: translateX(0);
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .invoice-form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
}

@media (max-width:600px) {
  body {
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
  }

  .main-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;
  }

  .invo-heading {
    width: 90vw;
    height: 15vh;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 5;

    position: relative;
  }

  .invoice-count-container h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: 600;

  }

  body.light-theme .invo-heading h2{
    color: var(--text-color) !important;
  }

  body.light-theme .invo-heading p{
    font-weight: 600;
    color: var(--text-color) !important;
  }
  
  .invoice-count-container p {
    color: #fff;
    font-size: 15px;
  }

  .filter-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
  }


  .filter-container h5 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px !important;
  }

  body.light-theme .filter-container h5{
    color: var(--text-color) !important;
  }

  body.light-theme .dropdown-icon{
    filter: invert(0);
    font-weight: 900;
  }

  .status-filter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 10px;
    left: 60%;
  }

  .status-filter{
  position: absolute;
    width: 150px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    z-index: 45;
    top: 15%;
    left: 40%;
    padding-top: 20px;
   box-shadow: 5px 5px 5px #9277ff74;
  }

  .status-filter div{
    width: 90%;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .status-filter div input{
    width: 15px;
    height: 15px;
    display: inline !important;
  }
  .status-filter div label#paid{
    margin-left: 20px;
    color: #219F8D;
    font-weight: 600;
  }

  .status-filter div label#pending{
    margin-left: 20px;
    color: #FF8F00;
    font-weight: 600;
  }

  .status-filter-container :first-child{
    display: flex;
  }

  .dropdown-icon {
    width: 12px;
    font-weight: 700;
    filter: invert(1);
    position: relative;
    left: -8px;
   
  }

 
  .invoice-button {
    font-size: 15px;
    margin-left: 10px !important;
    background: #9277ff;
    width: 80px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-button {
    filter: invert(1);
    width: 20px;
    margin-right: 10px;
  }

  .for-form{
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 55;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
  }

  .for-form.visible{
    transform: translateX(0);
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .invoice-form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  span{
    display: none !important;
  }
}

@media (min-width:601px) and (max-width:1023px){
  body {
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
  }

  .main-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .invo-heading {
    width: 90vw;
    height: 15vh;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    z-index: 5;
    position: relative;
  }

  .invoice-count-container h2 {
    color: #fff;
    font-size: 50px;
    letter-spacing: 0.5px;
    font-weight: 600;

  }

  body.light-theme .invo-heading h2{
    color: var(--text-color) !important;
  }

  body.light-theme .invo-heading p{
    font-weight: 600;
    color: var(--text-color) !important;
  }
  
  .invoice-count-container p {
    color: #fff;
    font-size: 25px;
  }

  .filter-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 5;
  }


  .filter-container h5 {
    color: #fff;
    font-size: 30px;
    margin-right: 10px !important;
  }

  body.light-theme .filter-container h5{
    color: var(--text-color) !important;
  }

  body.light-theme .dropdown-icon{
    filter: invert(0);
    font-weight: 900;
  }

  .status-filter-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    top: 10px;
    left: 60%;
  }

  .status-filter{
  position: absolute;
    width: 150px;
    height: 100px;
    background: #fff;
    border-radius: 10px;
    z-index: 45;
    top: 15%;
    left: 40%;
    padding-top: 20px;
   box-shadow: 5px 5px 5px #9277ff74;
  }

  .status-filter div{
    width: 90%;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
  }
  .status-filter div input{
    width: 15px;
    height: 15px;
    display: inline !important;
  }
  .status-filter div label#paid{
    margin-left: 20px;
    color: #219F8D;
    font-weight: 600;
  }

  .status-filter div label#pending{
    margin-left: 20px;
    color: #FF8F00;
    font-weight: 600;
  }

  .status-filter-container :first-child{
    display: flex;
  }

  .dropdown-icon {
    width: 20px;
    font-weight: 700;
    filter: invert(1);
    position: relative;
    left: -8px;
   margin-left: 10px;
  }

 
  .invoice-button {
    font-size: 20px;
    margin-left: 10px !important;
    background: #9277ff;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    color: #fff;
    font-weight: 600;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .add-button {
    filter: invert(1);
    width: 20px;
    margin-right: 10px;
  }

  .for-form{
    background-color: hsla(0, 0%, 0%, 0.2);
    z-index: 55;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: transform 0.3s linear;
  }

  .for-form.visible{
    transform: translateX(0);
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }

  .invoice-form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  span{
    display: none !important;
  }
}