:root{
  --background-color: #141625
}

@media (min-width: 1024px) {
  .product-header {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    z-index: 50;
  }

  .product-navigation {
    position: relative;
  }

  .product-icon {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 50;
  }



  .product-logo {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
  }
  .product-logo-overflow {
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    transition: height 0.2s linear;
  }

  .product-navigation:hover .product-logo-overflow {
    height: 85px;
  }

    .svg-icon-container{
      position: absolute;
     bottom: 10%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  .svg-icon {
    width: 22px;
    filter: invert(100%) grayscale(100%) brightness(80%) opacity(80%);
    cursor: pointer;
  }

  .svg-icon:hover{
    filter: invert(1) grayscale(1) brightness(2);
  }

/* ----------------- */

.logout-container{
  position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-top: 40px;
}

  .logout-container img{
    width: 22px;
    cursor: pointer;
    filter: invert(100);
  }

}

@media (max-width:600px) {
  .product-header {
    position: relative;
    z-index: 50;
    height: 70px;
  }

  .product-navigation {
    position: relative;
    height: 100%;
  }

  .product-icon {
    width: 30px;
    height: 30px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 50;
   
  }

  .product-logo {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    display:  none;
  }
  .product-logo-overflow {
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    transition: height 0.2s linear;
    display: none;

  }

  /* .product-navigation:hover .product-logo-overflow {
    height: 85px;
    display: none;

  } */

    .svg-icon-container{
      position: absolute;
     top: 50%;
      right: 10%;
      transform: translate(-50%,-50%);
    }

  .svg-icon {
    width: 20px;
    filter: invert(100%) grayscale(100%) brightness(80%) opacity(80%);
    margin-right: 20px;
  }

  .svg-icon:hover{
    filter: invert(1) grayscale(1) brightness(2);
  }

/* ----------------- */

.logout-container{
  position: absolute;
     top: 50%;
      right: 5%;
      transform: translate(-50%,-50%);
     
}

  .logout-container img{
    width: 22px;
    filter: invert(100);
  }

}

@media (min-width:601px) and (max-width:1023px){
  .product-header {
    position: relative;
    z-index: 50;
    height: 110px;
  }

  .product-navigation {
    position: relative;
    height: 100%;
  }

  .product-icon {
    width: 60px;
    height: 60px;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 50;
   
  }

  .product-logo {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative;
    display:  none;
  }
  .product-logo-overflow {
    height: 50px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
    bottom: 0;
    transition: height 0.2s linear;
    display: none;

  }

  /* .product-navigation:hover .product-logo-overflow {
    height: 85px;
    display: none;

  } */

    .svg-icon-container{
      position: absolute;
     top: 50%;
      right: 10%;
      transform: translate(-50%,-50%);
    }

  .svg-icon {
    width: 40px;
    filter: invert(100%) grayscale(100%) brightness(80%) opacity(80%);
    margin-right: 20px;
  }

  .svg-icon:hover{
    filter: invert(1) grayscale(1) brightness(2);
  }

/* ----------------- */

.logout-container{
  position: absolute;
     top: 50%;
      right: 5%;
      transform: translate(-50%,-50%);
     
}

  .logout-container img{
    width: 40px;
    filter: invert(100);
  }
}