
@media (min-width: 1024px) {

  .login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1d2457;
    width: 70vw;
    height: 70vh;
    border-radius: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .login-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-svg {
    width: 80%;
  }

  .login-component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
  }

  .login-wlcm {
    color: #ffffff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 80px;
  }
  .login-wlcm-message {
    font-size: 15px;
    color: #fff;
    margin: 10px 0;
  }

  .email,
  .password {
    border-radius: 10px;
    width: 60% !important;
    height: 50px;
    margin: 10px 0;
    padding-left: 5px;
    border: none;
    outline: none;
  }

  .login-button {
    background: #fff;
    color: #1e2139;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
  }

    body.light-theme .login-button{
      background: #252945;
      color: #fff;
      font-weight: 500 !important;
    }
  
}
@media (max-width:600px) {
  
  .login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E2139;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 100%;
  }

  body.light-theme .login-page{
    background: #F3F0E8;
  }

  .login-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .login-svg {
    width: 80%;
    display: none;
  }

  .login-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .login-wlcm {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-top: 80px;
  }

  body.light-theme .login-wlcm{
    color: #252945;
  }

  .login-wlcm-message {
    font-size: 15px;
    color: #fff;
    margin: 10px 0;
    text-align: center;
    font-weight: 700;
  }

  body.light-theme .login-wlcm-message{
    color: #252945;
  }

  .email,
  .password {
    border-radius: 10px;
    width: 80% !important;
    height: 50px;
    margin: 10px 0;
    padding-left: 5px;
    border: none;
    outline: none;
  }

  ::placeholder{
    color: #252945 !important;
  }

  .login-button {
    background: #fff;
    color: #1e2139;
    font-weight: 600;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .signup-container p{
    color: #fff;
    font-weight: 700;
  }

  body.light-theme .signup-container p{
    color: #252945;
  }

  .email-password input::placeholder{
    color: #1e2139 !important;
  }

}

@media (min-width:601px) and (max-width:1023px){

  .login-page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1E2139;
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 100%;
  }

  body.light-theme .login-page{
    background: #F3F0E8;
  }

  .login-svg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .login-svg {
    width: 80%;
    display: none;
  }

  .login-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .login-wlcm {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    margin-top: 80px;
  }

  body.light-theme .login-wlcm{
    color: #252945;
  }

  .login-wlcm-message {
    font-size: 30px;
    color: #fff;
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
  }

  body.light-theme .login-wlcm-message{
    color: #252945;
  }

  .email,
  .password {
    border-radius: 10px;
    width: 80% !important;
    height: 50px;
    margin: 10px 0;
    padding-left: 5px;
    border: none;
    outline: none;
  }

  ::placeholder{
    color: #252945 !important;
  }

  .login-button {
    background: #fff;
    color: #1e2139;
    font-weight: 600;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    margin-top: 10px;
  }

  .signup-container p{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
  }

  body.light-theme .signup-container p{
    color: #252945;
  }

  .email-password input::placeholder{
    color: #1e2139 !important;
  }


} 

